*{
    padding: 0;
    margin: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
}
.cabecera{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    background-color: #B762C1;
    min-width: 250px;
    
}
.cabecera__izquierda{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
    background-color: #B762C1 ;
    margin: 20px;
}
.cabecera__izquierda--img{
    width: 20%;
    height: auto;
    min-width: 250px;
    
    object-fit: cover;
}


.cabecera__izquierda:hover .cabecera__izquierda--img {-webkit-transform:scale(1.3);transform:scale(1.3);}
.cabecera__izquierda {overflow:hidden;}


.cabecera__derecha{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 300px;
    flex: 1;
    background-color: #B762C1;
    margin: 20px;
   
}
.cabecera__derecha--titulo{
    margin: 0;
}
.cabecera__derecha--text{
    margin: 20px ;
}
video{
    text-align: center;
    object-fit: cover;
    margin-top: 30px;
    width: 88%;
    padding: auto;
    border: 2px solid black;
}
.cabecera__derecha--titulo{
    text-align: center;
    
}
.cabecera__derecha--texto{
    padding-left:10px ;
    padding-right: 10px;
}
.pie{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    background-color: #EA99D5;
}

.caja{
    flex: 1;
    min-width: 250px;
    font-family: cursive;
    font-size: 1em;
    background-color: #4C0027;

}

.caja:first-child{
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    margin-bottom: 0px;
    color: white;
    background-color: #4C0027;
}

.caja div{
    padding: 25px;
    background-color: #fff;
    margin: 20px;

}
.pie{
    background-color: #FFCDDD;
}








